.DS_Store
**/*/.DS_Store
src/.warp/themes
src/.config/htop/htoprc.tmp*
src/.config/packer
src/.config/qBittorrent
# github.com/iolave/neovim-config
src/.config/nvim
# Added by nodemon
src/.config/simple-update-notifier
